*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.content{
	width: 80%;
}
.line{
	width: 100%;
	height: 3px;
	background: #02c98d;
	transition: .5s;
}
.heading,.des{
	overflow: hidden;
}
.heading{
	position: abosolute;
	margin-top: 600px;
	height: 200px;
}

p{
	text-transform: uppercase;
	color: #000;
}
nav{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
}
h2{
	color: #000;
}
#menu{
	width: 50%;
	height: 50px;
}
ul{
	white-space: 100%;
	height: 100%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
li{

	line-height: 35px;
	
}
a{
	text-decoration: none;
	color: #fff;
}


html {
 
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:100% 100%;
  background-attachment: fixed;
}

/* Style for navbar & header */

h1{
    color: #edfdfb;
	text-shadow: #444;
	letter-spacing: 3px;
    line-height: 70px;
    transition: .5s;
    position: relative;
}

ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}
li{
    display: inline-block;
    margin: 0 10px;
}
a{
    color: #fff;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 10px;
}
nav{
    background: #04030f;
    padding: 14px 0;
    margin-bottom: 40px;
}

.router-link-active{
    background: #eee;
    color: #444;
}

table{
	opacity: 0.7;

}

/* End of style for navbar & header */



/* For registration form style*/
.forica form {
    margin: 75px;
    width:300px;
}
.forica input {
  	margin: 10px;
 	padding:10px;
  	width: 100%;
  	border: 3px solid #d4ffe6;
}
.forica button {
  padding:10px
}
.forica select {
	margin: 10px;
 	padding:10px;
  	width: 100%;
  	border: 3px solid #d4ffe6;
}

/* End of registration form style */

/* ADMIN - KORISNICI - dijalogZaDodavanjeKorisnika */

#dijalogZaDodavanjeKorisnika .modal-contents {
	z-index: 1;
	height: 480px;
	width: 500px;
	background-color: #b9bab8;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#dijalogZaDodavanjeKorisnika input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dijalogZaDodavanjeKorisnika select {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dijalogZaDodavanjeKorisnika .close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
#dijalogZaDodavanjeKorisnika button {
	padding:10px;
	width: 100px
}
/*  */

/* ADMIN - RESTORAN - DODAVANJE MENADZERA */

#dodavanjeMenadzera {
	height: 450px;
	width: 500px;
	background-color: #edfdfb;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}

#dodavanjeMenadzera input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dodavanjeMenadzera select {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dodavanjeMenadzera button {
	padding:10px;
	width: 100px
}
/*  */

/* ADMIN - RESTORANI - dijalogZaIzmenuKorisnika */

#dijalogZaIzmenuRestorana .modal-contents {
	z-index: 1;
	height: 860px;
	width: 600px;
	background-color: #b9bab8;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#dijalogZaIzmenuRestorana input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dijalogZaIzmenuRestorana select {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dijalogZaIzmenuRestorana .close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
#dijalogZaIzmenuRestorana button {
	padding:10px;
	width: 100px
}
#dijalogZaIzmenuRestorana label {
	text-align: left;
}
/*  */

/* Korisnik - komentar - dijalogZaKomentarisanje */

#dijalogZaKomentarisanje .modal-contents {
	z-index: 1;
	height: 260px;
	width: 600px;
	background-color: #b9bab8;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#dijalogZaKomentarisanje input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dijalogZaKomentarisanje select {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 10px;
}

#dijalogZaKomentarisanje .close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
#dijalogZaKomentarisanje button {
	padding:10px;
	width: 100px
}
#dijalogZaKomentarisanje label {
	text-align: left;
}
/*  */

/* ADMIN - KORISNICI - PRETRAGA */

.pretragaKorisnikaAdmin{
	width: 90%;
    height: 88px;
    padding: 30px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.pretragaKorisnikaAdmin input{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    background-color:#b9bab8;
    border: 2px solid black;
    text-align: center;
}

.pretragaKorisnikaAdmin button{
	height: 60px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid gray;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    text-align: center;
}
/*  */

/* RESTORAN - PRETRAGA */

.pretragaRestorana{
	width: 90%;
    height: 110px;
    padding: 20px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.pretragaRestorana input{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    background-color:#b9bab8;
    border: 2px solid black;
    text-align: center;
    margin:5px;
}

.pretragaRestorana button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid gray;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    text-align: center;
    margin:5px;
}
/*  */

/* ARTIKLI - PRETRAGA */

.pretragaArtikala{
	width: 60%;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.pretragaArtikala input{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    background-color:#b9bab8;
    border: 2px solid black;
    text-align: center;
    margin:10px auto;
}

.pretragaArtikala button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid gray;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    text-align: center;
    margin:5px;
}
/*  */

/* PORUDZBINE - PRETRAGA */
.pretragaPorudzbina{
	width: 90%;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.pretragaPorudzbina input{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    background-color:#b9bab8;
    border: 2px solid black;
    text-align: center;
    margin:10px auto;
}

.pretragaPorudzbina button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid gray;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    text-align: center;
    margin:5px;
}

/*  */

/* Style for button at navbar in guest mode */
#divHeaderGuest nav ul li button {
    border: none;
    cursor:pointer;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 10px;
}
/* ADMIN - KORISNICI */
#stilZaKorisnike{
	background-color: #b9bab8;
	width: 80%;
    max-width: 1100px;
    margin: 20px 20px;
    padding: 20px 100px;
    box-sizing: border-box;
    border-radius: 25px;
}
/* ADMIN - KORISNICI - OKVIR*/
#stilZaKorisnike{
	background-color: #b9bab8;
	width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 30px;
}
/* Style for Profile */

#styleForProfile{
	background-color: #b9bab8;
	width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px 100px;
    box-sizing: border-box;
    border-radius: 30px;
}
#styleForProfile h1{
	color: black;
	padding: 20px;
}
#styleForProfile h2{
	font-size: 30px;
	padding: 20px;
}

/* End of style for button at navbar in guest mode */

#stilZaPregledRestorana{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px 20px;
    box-sizing: border-box;
	border-radius: 10px;
	background-color: #b9bab8;
}
#stilZaPregledRestorana ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
#stilZaPregledRestorana li{
	flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    padding: 30px;
    border: 2px solid #222;
	margin: 10px;
	border-radius: 15px;
    background-color: #e6fbef;
}

#stilZaPregledRestorana li button{
	height: 30px;
    border-radius: 10px;
    width: 150px;
    border: 2px solid white;
    background-color: #95ffaa;
    color: black;
    font-weight: bold;
    text-align: center;
}
#stilZaPregledRestorana li button:hover{
	background-color: #bfffcc;
}

.tableInCards{
	border-collapse: separate !important;
    background-color: #cdf3b9;
    color: black;
    font-weight: bold;
    border: 3px solid white;
    width: 100%;
    border-radius: 10px;
}

.cardsRestoran{
	border-collapse: separate !important;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    border: 3px solid white;
    width: 90%;
    border-radius: 10px;
	margin: 10px auto;
	padding: 5px;
}

.cardsRestoranDiv{
	border-collapse: separate !important;
    background-color: #f8e9f2;
    font-weight: bold;
    border: 3px solid white;
    width: 100%;
    border-radius: 10px;
	align-items: center;
	
}

.cardsRestoranDiv h1{
	color: #04030f;
}
/* CARD - PREGLED JEDNOG RESTORANA	*/
.cardsRestoranPregled{
	border-collapse: separate !important;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    border: 3px solid white;
    width: 90%;
    border-radius: 10px;
	margin: 10px auto;
	max-width: 1000px;
}
.cardsRestoranPregledDiv{
	border-collapse: separate !important;
    background-color: #f8e9f2;
    font-weight: bold;
    border: 3px solid white;
    width: 70%;
    border-radius: 10px;
	align-items: center;
	margin: 10px auto;
}

.cardsRestoranPregledDiv h1{
	color: #04030f;
}

.cardsRestoranPregledDiv td{
	border: 1px solid #f8e9f2;
}
/* CARD - PREGLED JEDNOG RESTORANA	*/
/* CARD - ARTIKLI	*/

.cardsArtikli{
	border-collapse: separate !important;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    border: 3px solid white;
    width: 90%;
    border-radius: 10px;
	margin: 10px auto;
	padding: 5px;
}

.cardsArtikliDiv{
	border-collapse: separate !important;
    background-color: #f8e9f2;
    font-weight: bold;
    border: 3px solid white;
    width: 100%;
    border-radius: 10px;
	align-items: center;
	
}

.cardsArtikliDiv h1{
	color: #04030f;
}

.cardsArtikliDiv td{
	border: 3px solid #f8e9f2;
}
/* CARD - ARTIKLI	*/
.tableInProfil{
	border-collapse: separate !important;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    border: 3px solid white;
    width: 96%;
    border-radius: 10px;
    margin: 10px;
}


.tableInProfil th{
	border:2px solid white !important;
}

.tableInProfil td{
	border: 2px solid white!important;
}

.tableInProfil input {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid white;
	text-align: center;
	font-weight: bold;
}

.tableInProfil select {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid white;
	text-align: center;
	font-weight: bold;
}

.saveChanges{
	height: 30px;
    border-radius: 10px;
    width: 150px;
    border: 2px solid white;
    background-color: #95ffaa;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: -10px 20px 35px 40px;
}

button.saveChanges:hover{
	background-color: #bdffca;
}

.tableInCards td{
	border:none !important;
}

.cardsRestoran td{
	border:none !important;
}

.brisanjeStyle{
	background-color: #f6825b !important;
	border: 1px solid #222;
	border-radius: 7px;
	font-weight: bold;
	color: black;
	padding: auto;
	font-size: 12px;
	cursor: pointer;
	width: 150px;
    margin: 3px;
}
.izmenaStyle{
	background-color: rgb(255, 201, 100) !important;
	border: 1px solid #222;
	border-radius: 7px;
	font-weight: bold;
	color: black;
	padding: auto;
	font-size: 12px;
	cursor: pointer;
	width: 150px;
    margin: 3px;
}

.endButtonStyle{
	background-color: #81d8f3 !important;
}

button.izmenaStyle:hover{
	background-color: rgb(255, 225, 168) !important;
}

button.brisanjeStyle:hover{
	background-color: #fd9a79 !important;
}

button.endButtonStyle:hover{
	background-color: #b1edff;
}

button.dodajUKorpu{
	background-color: #ff0022;
}
button.dodajUKorpu:hover{
	background-color: #b1edff;
}
/* Style for apartments view */

/* Style for dialog part */
.bgModal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.bgModalShow {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 1300px;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bgModalShowAmenities {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 900px;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dijalogDeo .modal-contents {
	z-index: 1;
	height: 1100px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 50px;
	position: relative;
	border-radius: 4px;
}

#dijalogDeo input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

#dijalogDeo .close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
/* End of style for dialog part*/

/* Style for dialog of change amenities */

#dialogForAmenities .modal-contents {
	z-index: 1;
	height: 135px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#dialogForAmenities input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

#dialogForAmenities .close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
/* End of style for dialog of change amenities */


/* Style for dialog of adding amenities */

#addDialogForAmenities .modal-contents {
	z-index: 1;
	height: 135px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#addDialogForAmenities input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

#addDialogForAmenities .close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
/* End of style for dialog of adding amenities */

/* Style for dialog of adding apartments of HOST */

#addDialogForApartments .modal-contents {
	z-index: 1;
	height: 800px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#addDialogForApartments input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

#addDialogForApartments .close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
/* End of style for dialog of adding apartments of HOST */

/* Style for map chosing location */

/* In host mode */
.map {
	height: 500px;
	width: 800px;
}

/* In admin mode */
.mapSearch{
	height: 500px;
	width: 800px;
}

/* End of style for map chosing location */

/* MAPA - PRETRAGA */

.mapaPretraga{
	height: 400px;
	width: 700px;
	margin: 10px 10px;
}

.okoMapeZaPretragu{
	background-color: #edfdfb;
	height: 450px;
	width: 800px;
	border-radius: 10px;
	padding: 10px 10px;
	margin-bottom: 20px;
}
/* 	*/

/* MAPA PRIKAZ LOKACIJE RESTORANA	*/

.mapaLokacija {
	height: 350px;
	width: 650px;
}

/*	*/
/* logo */

img.logoRestorana{
	border-radius: 10px;
	margin: 10px auto;
	border: 2px solid white;
	height: 220px;
	width: 350px;
}

/*  */


/* Style for buttons */
.btn {
	background-color: #edfdfb;
	border: 1px solid #222;
	border-radius: 7px;
	font-weight: bold;
	color: black;
	padding: 12px 16px;
	font-size: 12px;
	cursor: pointer;
	width: 150px;
    margin: 3px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: #5bf099;
  }


/* End of style for buttons */


/* Style for tables */

table, th, td {
	border: 1px solid #04030f;
	border-collapse: collapse;
	border-style: hidden;
}

th, td {
	border: 1px solid #04030f;
	padding: 10px;
	text-align: left;
}

td button{
	height: 40px;
	border-radius: 10px;
	width: 100%;
	border: 1.5px solid #04030f;
	color: black;
	font-weight: bold;
	text-align: center;
	background-color: #edfdfb;
}

.blockUser{
	background-color: #ff0022 !important;
}

.styleForTable {
	width: 500px;    
	border-radius: 15px;
	background-color: #edfdfb;
	font-weight: bold;
	font-size: 16px;
	padding:10px;
	margin: 10px;
  }

/* End of style for tables */


/* Style for search, sort, filters */

/* Search on home page for unregister users */
.searchFilterSortApartmentsUnregister{
	width: 500px;
    height: 230px;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1f7df;
}

.searchFilterSortApartmentsUnregister input{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid white;
    text-align: center;
}

.searchFilterSortApartmentsUnregister button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid white;
    background-color: #95ffaa;
    color: black;
    font-weight: bold;
    text-align: center;
}
/* End of search on home page for unregister users */

/* Start style for search of users HOST */

.searchUsers{
	width: 700px;
    height: 88px;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1f7df;
}

.searchUsers input{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid white;
    text-align: center;
}

.searchUsers button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid gray;
    background-color: #95dfff;
    color: black;
    font-weight: bold;
    text-align: center;
}
/* End style for search of users HOST */

/* Start of style for search of guest in reservations */

.searchGuestsByUsername{
	width: 500px;
    height: 88px;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1f7df;
}
.searchGuestsByUsername input{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid white;
    text-align: center;
}

/* End of style for search of guest in reservations */


/* Start style filter for ADMIN apartments */
.filterForAdminApartments{
	width: 500px;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1f7df;
}

.filterForAdminApartments select{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid white;
    text-align: center;
}

.multipleSelectAmenities {
	height: 90px !important;
    width: 400px !important;
}

/* End style filter for ADMIN apartments */

/* ADMIN - KORISNICI - FILTER */
.filterZaKorisnikeAdmin{
	width: 500px;
    height: 90px;
    padding: 30px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.filterZaKorisnikeAdmin select{
	height: 30px;
    border-radius: 10px;
    background-color: #b9bab8;
    width: 200px;
    border: 2px solid black;
    text-align: center;
}

/*  */

/* RESTORAN - FILTER */
.filterZaRestorane{
	width: 600px;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
	align-content: center;
}

.filterZaRestorane select{
	height: 30px;
    border-radius: 10px;
    background-color: #b9bab8;
    width: 200px;
    border: 2px solid black;
    text-align: center;
	margin: 10px 10px;
}

/*  */

/* RESTORAN - FILTER */
.filterZaArtikle{
	width: 60%;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
	align-content: center;
}

.filterZaArtikle select{
	height: 30px;
    border-radius: 10px;
    background-color: #b9bab8;
    width: 200px;
    border: 2px solid black;
    text-align: center;
	margin: 10px 10px;
}

/*  */

/* PORUDZBINE - FILTER */
.filterZaPorudzbine{
	width: 60%;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
	align-content: center;
}

.filterZaPorudzbine select{
	height: 30px;
    border-radius: 10px;
    background-color: #b9bab8;
    width: 200px;
    border: 2px solid black;
    text-align: center;
	margin: 10px 10px;
}
/*  */

/* Start style filter for reservations */
.filterForReservationsStatus{
	width: 500px;
    height: 85px;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1f7df;
}

.filterForReservationsStatus select{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid white;
    text-align: center;
}
/* End of style for filter reservations (status of reservation) */

/* Sort in app */
.sortInApp{
	width: 500px;
    height: 80px;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1f7df;
}

.sortInApp button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
	border: 2px solid black;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    text-align: center;
}

/* End of sort in app */

/* SORTIRANJE */
.sortiranje{
	width: 500px;
    height: 120px;
    padding: 30px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.sortiranje button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
	border: 2px solid black;
    background-color: #b9bab8;
    color: black;
    font-weight: bold;
    text-align: center;
}

/* SORTIRANJE */

/* SORTIRANJE PORUDZBINE */
.sortiranjePorudzbine{
	width: 60%;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.sortiranjePorudzbine button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
	border: 2px solid black;
    background-color: #b9bab8;
    color: black;
    font-weight: bold;
    text-align: center;
	margin:10px 10px;
}


/* RESTORANI - SORTIRANJE */
.sortiranjeRestorani{
	width: 800px;
    height: 100px;
    padding: 30px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
	align-items: center;
}

.sortiranjeRestorani button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
	border: 2px solid black;
    background-color: #b9bab8;
    color: black;
    font-weight: bold;
    text-align: center;
	margin:10px 10px;
}

/* RESTORANI - SORTIRANJE */

/* ARTIKLI - SORTIRANJE */
.sortiranjeArtikli{
	width: 60%;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
	align-items: center;
}

.sortiranjeArtikli button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
	border: 2px solid black;
    background-color: #b9bab8;
    color: black;
    font-weight: bold;
    text-align: center;
	margin:10px 10px;
}

/* ARTIKLI - SORTIRANJE */

/* PORUDZBINE SORTIRANJE */
.porudzbineSortiranje{
	width: 60%;
    height: 90px;
    padding: 30px;
    border-radius: 10px;
    background-color: #edfdfb;
    margin-bottom: 20px;
}

.porudzbineSortiranje button{
	height: 30px;
    border-radius: 10px;
    width: 200px;
	border: 2px solid black;
    background-color: #b9bab8;
    color: black;
    font-weight: bold;
    text-align: center;
}

/* PORUDZBINE SORTIRANJE */
.filledInput{
	height: 30px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid gray;
    text-align: center;
    background-color: #a4f4ff;
    font-size: 14px;
    font-weight: bold;
}
/* End of style for search, sort, filters */

/* RESTORAN - DODAVANJE */

.dodavanjeRestorana{
	background-color: #b9bab8;
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px 100px;
    box-sizing: border-box;
    border-radius: 30px;
}

.tabelaZaDodavanjeRestorana {
    border-collapse: separate !important;
    background-color: #edfdfb;
    color: black;
    font-weight: bold;
    border: 3px solid white;
    width: 96%;
    border-radius: 10px;
    margin: 10px;
}

.tabelaZaDodavanjeRestorana input {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
}

.tabelaZaDodavanjeRestorana select {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
}

/*  */

/* KOLICINA	*/
.kolicina {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kolicina input {
    width: 150px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #edfdfb;
    color: #04030f;
    appearance: none;
    outline: 0;
}

/*	KOLICINA */